.card:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, #373259, #1d1a23);
}

.card {
    display: inline-block;
    border-style: double;
    border: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 24px;
    overflow: hidden;
    position: relative;
    margin: 1em;
}

.containerButtons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card:hover div.cardDetails {
    opacity: 1;
    color: #ffffff;
}

.card:hover img {
    opacity: .5;
}

body {
    background-image: url(tarot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "Shadows_Into_Light variant0", Tofu;
    color: #ffffff;
}

#principalDiv {
    max-width: 1000px;


}

#totalCards {
    background-color: #373259;
text-align: center;
color: #ffffff;
}

#cards {
    display: flex;
    justify-content: center;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    margin: 2% 2% 2% 2%;

}

footer {
    background-color: #9b8dd7;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    width: 99%;
    height: 40px;
    margin-bottom: auto;
    color: #000000;
}

h1 {
    font-size: 200%;
    text-align: center;
    margin-bottom: 2em;
    color: #ffffff;
    background-color: #6c5b7b;
    font-family: "Shadows_Into_Light variant0", Tofu;

}

#btnAllCards {
    font-size: 1em;
    color: #ffffff;
    background-color: #6c5b7b;
    justify-content: flex-end;
    margin-right: 3%;
    margin-left: 20%;
    border-radius: 4px;
    margin-bottom: 20px;
}
#Arcanos {
    justify-content: flex-end;
}

#Tipos {
    justify-content: flex-end;
}
.container {
    font-size: large;
    text-align: center;
    justify-content: flex;
}

.imgClass {
    border-radius: 15px;
    max-height: 250px;
    width: auto;
}

.card-container {
    align-items: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 24px;
    overflow: hidden;
    position: relative;
}

#searchInput {
    border-radius: 4px;
    height: 30px;
}

#selectArcanos {
    color: #ffffff;
    background-color: #6c5b7b;
    font-size: 1em;
    border-radius: 4px;
    margin-right: 0.7em;
}


#selectTipos {
    color: #ffffff;
    background-color: #6c5b7b;
    font-size: 1em;
    border-radius: 4px;

}

.clase {
    font-size: 150%;
    font-family: fantasy;
}

.forma {
    shape-outside: url();
    shape-image-threshold: 0.5;
    shape-margin: 40px;
    float: left;
    border-color:#59485c;
    border-radius: 2%;
    margin-right: 2%;
    width: 30%; ;
    height: 30%;
    
}
#btnRandomCard{
    justify-content: end;
}
#randomCardInfo{
    background-color: #5f5a7d;
}

#info {
    background-color: #51438b;
    font-size: 107%;
    text-align:justify;
    font-family: 'Abel', sans-serif;
    font-family: 'IBM Plex Sans', sans-serif;

}

/*#boton-tipos {
    display: block;
    background-color:#BF80B5;
    font-size:10px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: medium;
    color:white;
    border: 1px solid silver;
    border-radius: 30px;
    width:150px;
    height:50px;
    cursor: hand;
    margin-left: auto;
    margin-right: auto;
    justify-content:center; 
    align-items: center; 
    gap: 8px;
}*/

/*button:active {
    display: block;
    background-color:#89728C;
    font-size:10px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: medium;
    color:white;
    border:20px;
    border-radius: 20px;
    width:150px;
    height:50px;
    cursor: hand;
    margin-left: auto;
    margin-right: auto;
    justify-content: center; 
    align-items: center; 
    gap: 8px; 
}*/
.cardDetails {
    left: 50%;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 65%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: .5s ease-in-out;
    width: 100%;
}
/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    text-align: center;
    background-color: #241d50;
    color: #ffffff;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*linear-gradient(90.21deg, #FFBDF7 -5.91%, #b4aae2 111.58%);*/