html {
    box-sizing: border-box /*modelo de caja para todos los elementos*/
}

*,
*:before,
*:after {
    box-sizing: inherit;/*el tamaño total de elemento incluye contenid, relleno y borde pero no margenes*/
}

html {
    -ms-text-size-adjust: 100%;/*tamaño de texto en navergadores especificos*/
    -webkit-text-size-adjust: 100%/*para garantizar legibilidad*/
}

body {
    margin: 0;
    background-image: url(tarot3.jpg);/*img de fondo*/
    background-attachment: fixed; /*la imag de fondo permanerá fija mientras el usuario se desplaza*/
    background-position: center;/*posicion centrada*/
    background-repeat: no-repeat;/*sin repetir la img*/
    background-size: cover;/*que cubra toda el elemento*/
    font-family: "Karma", sans-serif/*define el tipo de letra y una fuente de respaldo*/
}

section {
    display: block/*los elementos de esta seccion se mostraran en bloques*/
}/*info*/

.imgClass {
    border-radius: 15px;/*borde redondeado de las imagenes*/
    max-height: 350px; /*altura max de las imagenes*/
    width: auto;/*el ancho de las imagenes se ajusta automaticamente*/
}

.filterOptions {
    display: inline-block;/*muestra en linea los elementos que estan en filteroptions*/
}

.forma {
    shape-image-threshold: 0.5;/*establece un umbral de imagen*/
    shape-margin: 40px;/*establece un margen alrededor*/
    float: left;/*hace que el elemento flote a la izquierda*/
    /*border-color: #C07F00;*/
    border-radius: 4%;/*borde redondeado*/
    margin-right: 2%;/*margen derecho*/
    width: 15%;/*ancho*/
    height: 13%;/*alto*/
    margin-left: 1%;/*margen izquieso*/
}

#information {
    justify-content: center;/*centra el contenido horizontalmente*/
    background-color: #ddbcf2;
    background-position: center;/*centra la img de fondo*/
    font-size: 110%;/*tamaño de la fuente al 110% del tamaño predeterminado*/
    color: #51096C;/*color de texto*/
    text-align: center;/*texto alineado al centro*horizontalmente*/
    align-items: center;/*centra el contenido verticalmente*/
    display: flex;/*diseño de caja flexible*/
    font-family: Georgia, 'Times New Roman', Times, serif;/*fuente*/
    margin-bottom: 6em;/*margen inferior en unidades de medida*/
    border-radius: 4px;/*borde redondeado*/
    border-color: #710da7;/*color de borde*/
    border-style: solid;/*borde solido*/
}

#totalCards {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ddbcf2;
    text-align: center;
    color: #710da7;
    margin-left: 45%;/*margen izquierdo*/
    margin-right: 45%;/*margen derecho*/
    border-radius: 4px;
}

.modal {
    display: none;/*permite que el elemento permanezca oculto*/
    position: fixed;/*posicion de elemento como fijo no se desplaza con la pagina*/
    z-index: 1;/*se utiliza para ponerse encima de los elementos*/
    left: 0;/*la posicion del elemento en la parte superior izquierda de la ventana*/
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;/*habilita el desplazamiento cuando el contenido excede el tamaño del elemento*/
    background-color: rgb(0, 0, 0);/*color de fondo a negro con opacidad del 40%*/
    background-color: rgba(0, 0, 0, 0.4);

}

.modal-content {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 15% auto;/*margen superior e inferior y centrado horizontalmente*/
    padding: 20px;/*agrega espacio interno al rededor del contenido*/
    border-radius: 4px;
    border: 2px solid #710da7;/*borde de dos px de ancho con color*/
    width: 30%;/*ancho del elemento dentro del ancho del contenedor*/
    text-align: center;
    background-color: #ddbcf2;
    color: #000000;/*color de texto*/
}

.card {
    position: relative;/*se utiliza para controlar como se posiciona un elemento en relacion con su posicion normal en la pagina*/
}

.card:hover {
    cursor: pointer;/*cmabia el cursor a una manito*/
    background: linear-gradient(to bottom, #710da7, #ddbcf2);
}/*aplica fondo degradado en hover*/

.card:hover div.cardDetails {
    opacity: 1;/*establece opacidad a 1 cuando puntero esta sobre la carta*/
    color: #ffffff;
}

.card:hover img {
    opacity: .5;/*reduce la opacidad de las imagenes cuando el puntero esta sobre los elementos card*/
}

#searchInput {
    border-radius: 4px;
    height: 30px;
    margin-left: 10%;
    margin-right: 2%;
    background-color: #ddbcf2;
    color: #710da7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-color: #710da7;
    border-style: solid;
}

#btnRandomCard {
    border-radius: 4px;
    margin-right: 0.7em;
    background-color: #710da7;
    color: #ddbcf2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    border-color: #ddbcf2;
    border-style: solid;
}

#btnRandomCard:hover {
    background-color: #ddbcf2;
    color: #710da7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    border-color: #710da7;
    border-style: solid;
}

.btnRight {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    color: #ddbcf2;
    background-color: #710da7;
    justify-content: flex-end;
    margin-right: 3%;
    margin-left: 3%;
    border-radius: 4px;
    border-color: #ddbcf2;
    border-style: solid;
    margin-bottom: 20px;
}

.btnRight:hover {
    background-color: #ddbcf2;
    color: #710da7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    border-color: #710da7;
    border-style: solid;
}

#btnAllCards {
    border-radius: 4px;
    margin-right: 0.7em;
    background-color: #710da7;
    color: #ddbcf2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    border-color: #ddbcf2;
    border-style: solid;
}

#btnAllCards:hover {
    background-color: #ddbcf2;
    color: #710da7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    border-color: #710da7;
    border-style: solid;
}

.close {/*estilo de la x que cierra el modal*/
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #710da7;
    text-decoration: none;
    cursor: pointer;
}

.btnLeft {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    color: #ddbcf2;
    background-color: #710da7;
    justify-content: flex-end;
    margin-right: 3%;
    margin-left: 3%;
    border-radius: 4px;
    border-color: #ddbcf2;
    border-style: solid;
    margin-bottom: 20px;
}

.btnLeft:hover {
    background-color: #ddbcf2;
    color: #710da7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    border-color: #710da7;
    border-style: solid;
}

#selectArcanos {
    border-radius: 4px;
    margin-right: 0.7em;
    background-color: #710da7;
    color: #ddbcf2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    border-color: #ddbcf2;
    border-style: solid;
}

#selectArcanos:hover {
    background-color: #ddbcf2;
    color: #710da7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    border-color: #710da7;
    border-style: solid;
}


#selectTipos {
    border-radius: 4px;
    margin-right: 0.7em;
    background-color: #710da7;
    color: #ddbcf2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    border-color: #ddbcf2;
    border-style: solid;

}

#selectTipos:hover {
    background-color: #ddbcf2;
    color: #710da7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    border-color: #710da7;
    border-style: solid;
}

.cardDetails {
    left: 50%;/*centra los detalles de las cartas horizontalmente*/
    right: 50%;/*x2*/
    opacity: 0;/*establece inicialmente opacidad 0 */
    height: 100px;
    position: absolute;/*permite posicionamiento absoluto al contenerdor de cartas*/
    text-align: center;
    top: 65%;/*centra verticalmente*/
    -webkit-transform: translate(-50%, -50%);/*mueve el elemento hacia la iz en un 50% d su propio ancho*/
    transform: translate(-50%, -50%);/*y hacia arriba en un 50% de su propia altura para centrarlo completamente*/
    transition: .5s ease-in-out;/*aplica una transicion suave de 0.5 segundos para cmabios en propiedas animadas*/
    width: 100%;
}

footer {
    text-align: center;
    margin-left: auto;/*centra el footer horizontalmente en su contenedor*/
    margin-right: auto;/*x2*/
    bottom: 0; /*fija el footer en la parte inferior del contenedor*/
    width: 100%;
    border-radius: 4px;
    background-color: #ddbcf2;
    color: #710da7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    border-color: #710da7;
    border-style: solid;
}

/* End extract */
html,
body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5/*espacio entre lineas*/
}

html {
    overflow-x: hidden/*oculta la barra de desplazamiento incluso si el contenido es mas ancho*/
}

h1 {
    margin-top: 4em;
    font-size: 36px;
    text-align: center;
    color: #e3d1ee;
    font-family: "Shadows_Into_Light variant0", Tofu;
}

.w3-main,
#main {
    transition: margin-left .4s/*aplica una transicion suave a los elementos de esta clase*/
}/*al abrir o cerrar un menu esto se animará durante 0.4 segundos para crear efecto visual*/

.w3-center .w3-bar {/*estos elementos se alinean en bloque y su ancho automatico*/
    display: inline-block;/*ayuda a ocupar el espacio necesario*/
    width: auto
}

.w3-container:after,
.w3-container:before,
.w3-panel:after,
.w3-panel:before,
.w3-row:after,
.w3-row:before,
.w3-row-padding:after,
.w3-row-padding:before,
.w3-cell-row:before,
.w3-cell-row:after,
.w3-clear:after,
.w3-clear:before,
.w3-bar:before,
.w3-bar:after {/*estas reglas aplican clearfix que se utiliza para evitar que los elementos floten alrededor de otros elementos flotantes en el diseño*/
    content: "";
    display: table;
    clear: both
}/*lo que podria traer problemas de diseño, before y after son pseudo elementos*/
/* para insertar elementos invisibles que fuerzan la limpieza de los elementos anteriores y posteriores*/
.w3-col,
.w3-half,
.w3-third,
.w3-twothird,
.w3-threequarter,
.w3-quarter {/*se utilizan para definir el anco de los elementos en un diseño de columnas o cuadricula*/
    float: left;/*establece que los elementos floten a la iz*/
    width: 100%/*establece que los elementos ocupen todo el ancho disponible en su contenedor*/
}

/*diseño responsivo utilizando media queries*/
@media (min-width:601px) {/*aqui se define el media query que se activa con el ancho de la ventana del navegador es igual o mayor a 601px*/
    .w3-col.m1 {
        width: 8.33333%
    }

    .w3-col.m2 {
        width: 16.66666%
    }

    .w3-col.m3,
    .w3-quarter {
        width: 24.99999%;
        max-height: 500px;
    }

    .w3-col.m4,
    .w3-third {
        width: 33.33333%
    }

    .w3-col.m5 {
        width: 41.66666%
    }

    .w3-col.m6,
    .w3-half {
        width: 49.99999%
    }

    .w3-col.m7 {
        width: 58.33333%
    }

    .w3-col.m8,
    .w3-twothird {
        width: 66.66666%
    }

    .w3-col.m9,
    .w3-threequarter {
        width: 74.99999%
    }

    .w3-col.m10 {
        width: 83.33333%
    }

    .w3-col.m11 {
        width: 91.66666%
    }

    .w3-col.m12 {
        width: 99.99999%
    }
}

@media (min-width:993px) {/*aqui se activa cuando la ventana del navegador es igual o maryor a 993px*/
    .w3-col.l1 {
        width: 8.33333%
    }

    .w3-col.l2 {
        width: 16.66666%
    }

    .w3-col.l3 {
        width: 24.99999%
    }

    .w3-col.l4 {
        width: 33.33333%
    }

    .w3-col.l5 {
        width: 41.66666%
    }

    .w3-col.l6 {
        width: 49.99999%
    }

    .w3-col.l7 {
        width: 58.33333%
    }

    .w3-col.l8 {
        width: 66.66666%
    }

    .w3-col.l9 {
        width: 74.99999%
    }

    .w3-col.l10 {
        width: 83.33333%
    }

    .w3-col.l11 {
        width: 91.66666%
    }

    .w3-col.l12 {
        width: 99.99999%
    }
}

.w3-content,
.w3-auto {/*estas reglas aplican un margen iz y de automaticos*/
    margin-left: auto;
    margin-right: auto
}

.w3-content {/*establece un ancho max de 980 px para los elementos de esta class*/
    max-width: 980px
}

@media (max-width:1205px) {/*esto define una segunda media query que se activa cuando el ancho de la ventana del navegador es igual o menor a 1205px*/
    .w3-auto {
        max-width: 95%/*aqui se ajusta el ancho max cuando la ventana es igual o menor a 1205px*/
    }
}

@media (max-width:600px) {/*estilo especifico para pantallas con un ancho max de 600px*/
    .w3-modal-content {/*ajusta margen iz y de y permite ancho auto*/
        margin: 0 10px;
        width: auto !important/*asegura que el contenido modal se ajuste correctamente en pantallas pequeñas*/
    }

    .w3-modal {/*asegura un relleno superior de 30px*/
        padding-top: 30px/*para dar espacio adicional en la parte superior del modal en pantallas pequeñas*/
    }

    .w3-dropdown-hover.w3-mobile .w3-dropdown-content,
    .w3-dropdown-click.w3-mobile .w3-dropdown-content {/*ajusta la posicion de los menus desplegables para que se muestren de manera más adecuada en p.p*/
        position: relative
    }

    .w3-hide-small {/*oculta elementos con esta clase en pantallas p mediante none !important*/
        display: none !important
    }

    .w3-mobile {/*establece que los elementos tengan ancho de 100 y se muestren en bloque en p.p*/
        display: block;
        width: 100% !important
    }

    .w3-bar-item.w3-mobile,
    .w3-dropdown-hover.w3-mobile,
    .w3-dropdown-click.w3-mobile {/*centra el contenido de pp mediante T.A*/
        text-align: center
    }

    .w3-dropdown-hover.w3-mobile,
    .w3-dropdown-hover.w3-mobile .w3-btn,
    .w3-dropdown-hover.w3-mobile .w3-button,
    .w3-dropdown-click.w3-mobile,
    .w3-dropdown-click.w3-mobile .w3-btn,
    .w3-dropdown-click.w3-mobile .w3-button {/*estable que los botones dentro de menus desplegables ocupen el ancho completo en p.p*/
        width: 100%
    }
}

@media (max-width:768px) {/*aplica cuando el ancho es igual o menor a 798px y pp o moviles*/
    .imgClass {
        height: 300px;/*reduce la altura max de los elementos de esta class*/
    }

    #cards {
        margin: 0;/*elimina los margenes con el if card*/
    }

    .filterOptions {/*se muestran los elementos en bloque en lugar de en linea*/
        display: block;
    }

    .searchDiv {/*x2*/
        display: block;
    }

    #totalCards {/*elimina los margenes*/
        margin: 0;

    }

    h1 {/*añade un margen superior*/
        margin-top: 12em;
    }
}

@media (min-width:993px) {/*igual o menor que 993 pantallas grandes*/
    .w3-modal-content {/*establece un ancho fijo de 900px para elementos de esta clase*/
        width: 900px
    }

    .searchDiv {/*cambia la propiedad para que los elementos de esta clase se muestren en linea*/
        display: inline-block;
    }

    .w3-hide-large {/*oculta elementos con esta clase en pantallas grandes mediante none !important*/
        display: none !important
    }

    .w3-sidebar.w3-collapse {/*hace que los elementos de esta clase se muestren en bloques en pantallas grandes*/
        display: block !important
    }
}

@media (max-width:992px) and (min-width:601px) {/*aplican cuando el ancho de la ventana del navegador esta entre 601 y 992px*/
    .w3-hide-medium {/*oculta elementos de esta clase en ese rango de tamaño mediante none!important*/
        display: none !important
    }
}

@media (max-width:992px) {/*aplica en el ancho de pantallas igual o menor a 992px*/
    .w3-sidebar.w3-collapse {/*oculta elementos de esta class*/
        display: none
    }

    .w3-main {/*establece propiedades para los elementos de esta clase*/
        margin-left: 0 !important;/*elimina cualquier margen izquierdo que pudiera tener el elemento con la clase*/
        margin-right: 0 !important/*elimina cualquier margen derecho*/
    }/*!important indica que esta regla tiene prioridad sobre otras reglas de estilo*/

    .w3-auto {/*esto hace que los elementos tengan un ancho max de 100% del contenedor pricipal*/
        max-width: 100%
    }
}

.w3-top,
.w3-bottom {/*define estilos de elementos de la parte superior*/
    position: fixed;/*posicion fija de los elementos*/
    width: 100%;/*acho max lo que significa que ocupara todo el ancho disponible*/
    z-index: 1/*se superpone encima de otros elementos*/
}

.w3-top {/*img del fondo top*/
    background-image: url(tarot3.jpg);
    top: 0
}

.w3-row-padding,/*espacio de relleno en los lados iz y de*/
.w3-row-padding>.w3-half,/*elimina espacio adicional entre los elementos en filas*/
.w3-row-padding>.w3-third,/*establece el mismo relleno 0 en los lados iz y de para elements especificos*/
.w3-row-padding>.w3-twothird,
.w3-row-padding>.w3-threequarter,
.w3-row-padding>.w3-quarter,
.w3-row-padding>.w3-col {
    padding: 0 8px
}

.w3-xlarge {/*establece el tamaño de fuente*/
    font-size: 24px !important/*las propiedad important le da prioridad a esta regla*/
}

.w3-center {/*define el texto de manera centralizada*/
    text-align: center !important/*se le da prioridad a esta regla*/
}

.w3-padding-16 {/*margen izquierdo, relleno superior y relleno inferior*/
    margin-left: 50px;
    padding-top: 16px !important;
    padding-bottom: 16px !important
}/*con propiedad important para darle prioridad a estas reglas*/

body {
    font-family: "Karma", sans-serif
}