
.card:hover { 
  background-color: #ffffff;
	cursor: pointer;
	filter: grayscale(50%);
	-webkit-filter: grayscale(50%);
	-moz-filter: grayscale(50%);
	-ms-filter: grayscale(50%);
	-o-filter: grayscale(50%);
  display: flex-wrap;
}
body {
    background-image: url(https://i.ibb.co/Vwbzysk/image-2.jpg);
    background-repeat: no-repeat;
    background-size: 1550px 650px;
    
}

footer {
    text-align: center;
    /*background-color: rgb(255, 255, 255);
    position: absolute; 
    bottom: 0;
    width: 99%;
    height: 40px;
    color:#89728C;*/
    
}

h1 {
    font-size: 200%;
    text-align:left;
    font-family: 'Lobster';
    text-shadow: -2px -2px 1px #ffffff, 2px 2px 1px #ffffff, -2px 2px 1px #ffffff, 2px -2px 1px #ffffff;
    color:#89728C;

}

#btn {
    justify-content: flex-end;
    margin-right: 0;
    margin-left: auto;
}
    
#Arcanos {
    justify-content: flex-end;
}
#Tipos {
    justify-content: flex-end;
}
.cards {
display: grid;
grid-template-rows: 1fr 1fr 1fr 1fr;
grid-gap: 10px;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 40px;
margin: 20px 40px 20px 40px;
}
/*.container {
    
}

/*#Arcanos {
    display: block;
    background-color:#BF80A3;
    font-size:10px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: medium;
    color:white;
    border:20px;
    border-radius: 30px;
    width:150px;
    height:50px;
    cursor: hand;
    margin-left: auto;
    margin-right: auto;
    justify-content: center; 
    align-items: center; 
    gap: 8px;
}
  #Tipos {
    display: block;
    background-color:#D5E5F2;
    font-size:10px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: medium;
    color:white;
    border: 1px solid silver;
    border-radius: 30px;
    width:150px;
    height:50px;
    cursor: hand;
    margin-left: auto;
    margin-right: auto;
    justify-content:center; 
    align-items: center; 
    gap: 8px;
}

/*#boton-tipos {
    display: block;
    background-color:#BF80B5;
    font-size:10px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: medium;
    color:white;
    border: 1px solid silver;
    border-radius: 30px;
    width:150px;
    height:50px;
    cursor: hand;
    margin-left: auto;
    margin-right: auto;
    justify-content:center; 
    align-items: center; 
    gap: 8px;
}*/

/*button:active {
    display: block;
    background-color:#89728C;
    font-size:10px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: medium;
    color:white;
    border:20px;
    border-radius: 20px;
    width:150px;
    height:50px;
    cursor: hand;
    margin-left: auto;
    margin-right: auto;
    justify-content: center; 
    align-items: center; 
    gap: 8px; 
}*/
